.dashboard-container {
}

.dashboard-container-file-display {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.current-step-container{
}

.semi-modal-content{
  overflow: scroll;
}

.step-indicator{
  .steps{
    margin-bottom: 25px;
  }
}
